body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

nav {
    margin: 40px auto 0 auto;
    border-radius: 50px;
    max-width: 50%;
    background: #212431;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0px 20px;
}

nav ul li {
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: calc(1.2em);
}

footer {
    height: 100px;
    justify-self: end;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}
